@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #E2E8F0;
  border-radius: 40px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
}

.sidebar {
  box-shadow: rgb(113 122 131 / 5%) 0px 7px 30px 0px;
  z-index: 15 !important;
}

.nav-item,
.navbar {
  z-index: 10 !important;
}

.backdrop {
  z-index: 30 !important;
  backdrop-filter: blur(2px);
}

.image {
  z-index: 33 !important;
}

.modal {
  z-index: 35 !important;
}

.toast {
  z-index: 38 !important;
}

.fallback {
  z-index: 40 !important;
}

.bellshake:hover {
  animation: bellshake 1s cubic-bezier(.36,.07,.19,.97) both infinite;
  transform-origin: top right;
}

.vibrate:hover {
  animation: vibrate 1s cubic-bezier(.36,.07,.19,.97) both infinite;
}

.wobble:hover {
  animation: wobble 1s cubic-bezier(.36,.07,.19,.97) both infinite;
}

@keyframes bellshake {
  0% { transform: rotate(0); }
  15% { transform: rotate(12deg); }
  30% { transform: rotate(-12deg); }
  45% { transform: rotate(8deg); }
  60% { transform: rotate(-8deg); }
  75% { transform: rotate(6deg); }
  85% { transform: rotate(-6deg); }
  92% { transform: rotate(2deg); }
  100% { transform: rotate(0); }
}

@keyframes vibrate {
  0% { transform: translateX(0); }
  15% { transform: translateX(4px); }
  30% { transform: translateX(-4px); }
  45% { transform: translateX(3px); }
  60% { transform: translateX(-3px); }
  75% { transform: translateX(2px); }
  85% { transform: translateX(-2px); }
  92% { transform: translateX(1spx); }
  100% { transform: translateX(0); }
}

@keyframes wobble {
  25% {
    transform: scale(0.9, 1.1);
  }

  50% {
    transform: scale(1.15, 0.9);
  }

  75% {
    transform: scale(0.95, 1.05);
  }
}
