<html>
<head>
    <title>Forgot Password</title>
</head>
<body>
    <div>
        <p>Hi {{{username}}},</p>
        <p>You requested for a password reset.</p>
        <p>Kindly reset your password using the link below</p>
        <a href={{{url}}}>Click here</a>
        <br>
        <p>Cheers,</p>
        <p>DevHub</p>
    </div>
</body>
</html>