<html>
<head>
    <title>Password Reset</title>
</head>
<body>
    <div>
        <p>Hi {{{username}}},</p>
        <p>Your password has been reset successfully.</p>
        <p>Signin with your new password to continue enjoying our service.</p>
        <br>
        <p>Cheers,</p>
        <p>DevHub</p>
    </div>
</body>
</html>