/* 
* SPINNER STYLES
*/
.spinner {
    transform: rotate(90deg);
    width: 30px;
    height: 30px;
}
  
.spinner__path {
    stroke-linecap: round;
    stroke-dasharray: 360;
    stroke-width: 2;
    stroke: #FFF;
    fill: transparent;
    animation: spinner 1.5s ease-in-out 0s normal forwards infinite;
}

@keyframes spinner {
    from {
      stroke-dashoffset: 360;
    }
    to {
      stroke-dashoffset: 40;
    }
}
